.contactContainer {
  text-align: center;
  width: 70%;
  margin-top: 15%;
  margin-left: 10%;
}

.contactPic {
  height: 40%;
  width: 40%;
  border-radius: 20%;
  margin-bottom: -20%;
  margin-left: 90%;
}

.contactIconContainer {
  margin-left: 20%;
}

.contact {
  color: rgb(99, 95, 84);
  margin-right: 10%;
}

.quote {
  font-size: 1em;
  color: rgba(99, 95, 84, .8);
  margin-top: -3%;
}

.instagram {
  color: rgba(99, 95, 84, .8);
  margin-top: 5%;
  margin-left: -25%;
}

.instagram:hover {
  color: rgb(138, 222, 248);
}

.instagramIcon {
  margin-top: 2%;
  font-size: 3em;
}

.email {
  color: rgba(99, 95, 84, .8);
  margin-top: 5%;
  margin-left: -20%;
}

.email:hover {
  color: rgb(138, 222, 248);
}

.emailIcon {
  font-size: 3em;
}

.bigLetter {
  font-size: 3em;
  color: rgb(138, 222, 248);
}