.parallax {
  height: 100vh;
  animation: fadeinout 5s infinite;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.img {
  max-width: 180%;
  max-height: 160%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstLetter {
  font-size: 4em;
}

.about {
  margin: 0% 10% 0% 10%;
  text-align: center;
  padding-top: 20%;
  color: rgb(99, 95, 84);
  font-size: 2em;
  font-family: "Megrim";
  position: relative;
}