.parallax {
  height: 100vh;
  align-content: center;
  animation: fadeinout 5s infinite;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.img {
  max-width: 120%;
  max-height: 120%;
}

.firstLetter {
  font-size: 4em;
}

.about {
  margin: 0% 10% 0% 10%;
  text-align: center;
  padding-top: 20%;
  color: rgb(99, 95, 84);
  font-size: 2em;
  font-family: "Megrim";
  position: relative;
}