.parallax{
  height: 100vh;
  animation: fadeinout 5s infinite;
  margin: auto -2.5% auto -2.5%;
}

.firstLetter {
  font-size: 4em;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.about {
  margin: 0% 10% 0% 10%;
  text-align: center;
  padding-top: 20%;
  color: rgb(99, 95, 84);
  font-size: 2em;
  font-family: "Megrim";
}