

/* ----------- Non-Retina Screens ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
} */

/* ----------- Retina Screens ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    
} */

@media only screen and (max-width: 1366px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -64%;
  }

  .jewelry {
    margin-bottom: 33.5%;
    margin-top: .5%;
  }

  .photography {
    margin-top: 4%;
  }

  .viewAll1 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -6%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 29%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -11%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -67%;
  }

  .jewelry {
    margin-bottom: 33.5%;
    margin-top: -.5%;
  }

  .photography {
    margin-top: 4.5%;
  }

  .viewAll1 {
    margin-top: 1%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 31%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .mediumTitles {
    margin-left: 10%;
    margin-top: 9%;
    margin-bottom: -80.5%;
  }

  .jewelry {
    margin-top: -1.5%;
    margin-bottom: 35%;
  }

  .photography {
    margin-top: 4.5%;
    margin-left: -5%;
  }

  .viewAll1 {
    margin-top: 38%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 33%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -10%;
    margin-top: -14%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .container {
    width: 80%;
  }

  .mediumTitles {
    margin-left: 10%;
    margin-top: 14%;
    margin-bottom: -125%;
  }

  .jewelry {
    margin-top: -2%;
    margin-bottom: 36%;
  }

  .photography {
    margin-top: 2%;
    margin-left: -6%;
  }

  .viewAll1 {
    margin-top: 39%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -1%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 35%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -13%;
    margin-top: -17.5%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}




@media only screen and (max-width: 1190px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -67.5%;
  }

  .jewelry {
    margin-bottom: 33.5%;
    margin-top: -.25%;
  }

  .photography {
    margin-top: 4.5%;
  }

  .viewAll1 {
    margin-top: 1%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 31%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1180px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -68%;
    margin-top: 4%;
  }

  .jewelry {
    margin-bottom: 33.5%;
    margin-top: -.25%;
  }

  .photography {
    margin-top: 5%;
  }

  .viewAll1 {
    margin-top: 1%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 31%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1170px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -69%;
    margin-top: 4%;
  }

  .jewelry {
    margin-bottom: 33.5%;
    margin-top: -.25%;
  }

  .photography {
    margin-top: 5%;
  }

  .viewAll1 {
    margin-top: 1%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 31%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1160px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -69%;
    margin-top: 4%;
  }

  .jewelry {
    margin-bottom: 34%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 35.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 31%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1150px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -70%;
    margin-top: 4%;
  }

  .jewelry {
    margin-bottom: 34%;
  }

  .photography {
    margin-top: 4.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 36%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 31%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1140px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -70%;
    margin-top: 4%;
  }

  .jewelry {
    margin-bottom: 34%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 36%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1130px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -70.5%;
    margin-top: 6%;
  }

  .jewelry {
    margin-bottom: 33%;
  }

  .photography {
    margin-top: 6%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 36.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12%;
  }

}

@media only screen and (max-width: 1120px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -71%;
    margin-top: 5%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 37%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }

}

@media only screen and (max-width: 1110px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -71.5%;
    margin-top: 5%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 37.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -3%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }

}

@media only screen and (max-width: 1110px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -72%;
    margin-top: 5%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 37.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2.5%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32.5%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1100px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -73%;
    margin-top: 6%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 37.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2.5%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32.5%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1090px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -73%;
    margin-top: 6%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 37.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2.5%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 32.5%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1080px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -73.5%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 37.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 33%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1070px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -74%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -.5%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 38%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2.5%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 33.5%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1060px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -74.5%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 38.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 33.5%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1050px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -75%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 39%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 33.5%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -13.5%;
  }
}

@media only screen and (max-width: 1040px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -76%;
    margin-top: 8%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: .5%;
  }

  .photography {
    margin-top: 4%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 39%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -2%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 34%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -13.5%;
  }
}

@media only screen and (max-width: 1030px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -76%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -.5%;
  }

  .photography {
    margin-top: 4.5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 39.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -1%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 34%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -13.5%;
  }
}

@media only screen and (max-width: 1020px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -77%;
    margin-top: 8%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1.5%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 40%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -1%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 35%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -13.5%;
  }
}

@media only screen and (max-width: 1010px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -78%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1.5%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 40%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: -1%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 35%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -13.5%;
  }
}

@media only screen and (max-width: 1000px) {
  .mediumTitles {
    margin-left: 10%;
    margin-bottom: -78%;
    margin-top: 7%;
  }

  .jewelry {
    margin-bottom: 34%;
    margin-top: -1%;
  }

  .photography {
    margin-top: 5%;
    margin-left: -2%;
  }

  .viewAll1 {
    margin-top: 40.5%;
    margin-right: 4%;
  }

  .viewAll2 {
    margin-top: .5%;
    margin-right: 4%;
  }

  .viewAll3 {
    margin-top: 35%;
    margin-right: 4%;
  }

  .arrowIcons {
    margin-right: -9%;
    margin-top: -14%;
  }
} 