/* *****************************************************************
***MEDIA QUERIES **************************************************
******************************************************************/
/*************LESS THAN 1050PX DO THIS*******************/
@media only screen and (max-width: 1050px) {
  #mainLogo > img {
    width: 250px;
  }

  .navLink {
    font: 300 35px 'Cinzel', sans-serif;
  }
}

/*************LESS THAN 920PX DO THIS*******************/
@media only screen and (max-width: 920px) {
  #mainLogo > img {
    width: 200px;
  }
  .navLink {
    font: 300 30px 'Cinzel', sans-serif;
  }
}

/*************LESS THAN 780PX DO THIS*******************/
@media only screen and (max-width: 780px) {
 #mainLogo > img {
    width: 150px;
  }
  .navLink {
    font: 300 25px 'Cinzel', sans-serif;
  }
}

/*************LESS THAN 650PX DO THIS*******************/
@media only screen and (max-width: 650px) {
  #mainLogo > img {
    width: 100px;
  }
}

/***********LESS THAN 610PX DO THIS*****************/
@media only screen and (max-width: 610px) {
  #header {
    background-color: #3fb0ac;
    position: sticky;
    top: 0;
  }

  #header > .menu {
    padding-left: 27px;
    list-style: none;
  }

  #header .navLink {
    display: none;
  }

  #mainLogo {
    display: none;
  }

  #mainLogo2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  #logo2 {
    width: 47px;
    margin-top: 5px;
    margin-right: 16px;
  }
}

/************MORE THAN 611PX DO THIS*****************/
@media only screen and (min-width: 611px) {
  #header > .menu {
    display: none;
    list-style: none;
  }

  #header .menu > li,
  .resLink {
    display: none;
  }

  #header .menu-icon {
    display: none;
  }

  #mainLogo2 {
    display: none;
  }
}

/***********LESS THAN 350PX DO THIS ** Iphone 5 *****************/
@media only screen and (max-width: 340px) {
  #header > .menu {
    padding-left: 0px;
    list-style: none;
  }
}