.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.badge {
  background-color: yellow !important;
  color: black !important;
}

.closeSideNav {
  transform: translateX(-100%) !important;
}

.side-nav {
  box-shadow: none;
  z-index: -1;
}

.side-nav li>a {
  color: rgb(99, 95, 84);
  font-family: 'Montserrat';
  letter-spacing: .25em;
}

.side-nav li>a:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  letter-spacing: .30em;
  transition-duration: .5s;
  animation: sideNavColors 4s infinite;
}

@keyframes sideNavColors {
  20% {
    color: rgb(138, 222, 248);
  }
  30% {
    color: rgb(196, 107, 193);
  }
  50% {
    color: rgb(138, 222, 248);
  }
}

#toTop {
  animation: bounce .7s infinite;
  animation-duration: 2s;
}

.footerSidebar {
  letter-spacing: .25em;
  font-family: "Megrim";
  color: rgb(99, 95, 84);
  position: fixed;
}

/* *****************************************************************
***************************  MEDIA QUERIES  ***********************
******************************************************************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
      .side-nav li>a {
        font-size: .8em;
      }

      .footerSidebar {
        font-size: .8em;
        margin-left: 2%;
      }

      .side-nav {
        
      }

      .sideNav {
        height: 70%;
        width: 70%;
      }
  }

/* iPhone 8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
      .side-nav {
        padding-top: 25%;
        width: 55%;
      }

      .footerSidebar {
        font-size: .8em;
        margin-left: 2%;
      }

      .sideNav {
        height: 80%;
      }
    }

/* iPhone 6/7/8 Plus */
@media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) {
    .side-nav {
      padding-top: 20%;
      width: 55%;
    }

    .footerSidebar {
      font-size: .8em;
      margin-left: 2%;
    }

    .sideNav {
      height: 80%;
    }
  }

/* iPhone X */
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      .side-nav {
        padding-top: 35%;
        width: 55%;
      }

      .footerSidebar {
        font-size: .8em;
        margin-left: 2%;
      }

      .sideNav {
        height: 70%;
      }
    }

/* Galaxy S5 */
@media only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .side-nav {
      padding-top: 20%;
      width: 55%;
    }

    .footerSidebar {
      font-size: .8em;
      margin-left: 2%;
    }

    .sideNav {
      height: 80%;
    }
  }
/* work on these */
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .side-nav {
      padding-top: 35%;
      width: 55%;
    }

    .footerSidebar {
      font-size: .8em;
      margin-left: 2%;
    }

    .sideNav {
      height: 70%;
    }
}

/* starts at 530px */
@media (min-width: 481px) and (max-width: 767px) {
  .side-nav {
    padding-top: 20%;
    width: 45%;
  }

  .footerSidebar {
    font-size: .8em;
    margin-left: 2%;
  }

  .sideNavTitle {
    font-size: .9em;
  }

  .sideNav {
    height: 90%;
  }

  .badge {
    width: 65%;
  }
}

/* starts at 845 */
@media (min-width: 768px) and (max-width: 1024px) {
  .side-nav {
    padding-top: 10%;
    width: 30%;
  }

  .footerSidebar {
    font-size: .8em;
    margin-left: 2%;
  }

  .sideNavTitle {
    font-size: 1em;
  }

  .sideNav {
    height: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .side-nav {
    padding-top: 10%;
    width: 25%;
  }

  .footerSidebar {
    font-size: .8em;
    margin-left: 2%;
  }

  .sideNavTitle {
    font-size: 1.1em;
  }

  .sideNav {
    height: 80%;
  }
}

@media (min-width: 1281px) {
  .side-nav {
    padding-top: 10%;
    width: 25%;
  }

  .footerSidebar {
    font-size: .8em;
    margin-left: 2%;
  }

  .sideNavTitle {
    font-size: 1.1em;
  }

  .sideNav {
    height: 80%;
  }
}