.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.badge {
  background-color: yellow !important;
  color: black !important;
}

.closeSideNav {
  transform: translateX(-100%) !important;
}

.side-nav {
  box-shadow: none;
  z-index: -1;
}

.side-nav li>a {
  color: rgb(99, 95, 84);
  font-family: 'Montserrat';
  letter-spacing: .25em;
}

.side-nav li>a:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  letter-spacing: .30em;
  transition-duration: .5s;
  animation: sideNavColors 4s infinite;
}

@keyframes sideNavColors {
  20% {
    color: rgb(138, 222, 248);
  }
  30% {
    color: rgb(196, 107, 193);
  }
  50% {
    color: rgb(138, 222, 248);
  }
}

#toTop {
  animation: bounce .7s infinite;
  animation-duration: 2s;
}

.footerSidebar {
  letter-spacing: .25em;
  font-family: "Megrim";
  color: rgb(99, 95, 84);
  position: fixed;
}
