label {
  color: rgb(138, 222, 248);
  font-size: 1.5em;
}

.createArtButton {
  color: rgb(99, 95, 84);
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  margin-left: 85%;
}

.createArtButton:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  cursor: pointer;
}

.createArtButton:focus {
  background-color: transparent;
}

.createModal {
  margin-top: -5%;
  z-index: 1200 !important;
  max-height: 110%;
  background-image: url("https://s3-us-west-2.amazonaws.com/chizetteart/chizetteart/amethyst.jpeg");
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.createClose {
  cursor: pointer;
  color: rgb(138, 222, 248);
  font-size: 3em;
  position: fixed;
  right: 50px;
  top: 15px;
}

.createClose:hover {
  transform: scale(1.4);
  transition-duration: .5s;
}

.createArt {
  display: initial !important;
  color: rgb(138, 222, 248);
  font-size: 1em;
  background-color: white;
  border: none;
  margin-left: 80%;
}

.createArt:hover {
  display: initial !important;
  color: white;
  font-size: 1em;
  background-color: rgb(138, 222, 248);
  border: none;
  margin-left: 80%;
}

.modal-content h4 {
  text-align: center;
  font-family: "Megrim";
  letter-spacing: .1em;
  font-weight: bolder;
  color: rgb(138, 222, 248);
}


@media only screen and (max-width: 1921px) {
  .createArtButton {
    margin-left: 85%;
    margin-top: -5%;
  }
}

@media only screen and (max-width: 1440px) {
  .createArtButton {
    color: rgb(99, 95, 84);
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    margin-left: 85%;
  }
}