.poster {
  border: 2px solid rgb(99, 95, 84);
  max-width: 300px;
  max-height: 260px;
  margin-bottom: 10%;
  transition: .3s ease;
}

.poster:hover {
  max-width: 400px;
	max-height: 330px;
	margin: -50px -50px 0px -50px;
  transition: .3s ease;
}

.posterSingleView {
  max-width: 900px;
  max-height: 680px;
  margin: -2% auto auto auto;
  display: flex;
  justify-content: center;
}

/* .artInfoContainer {
  margin-left: 30%;
}

.singleViewTitle {
  font-size: 3em;
}

.singleViewMedium {
  font-size: 1em;
  margin-top: -2%;
}

.singleViewYear {
  font-size: 1em;
  margin-top: -3.5%;
  margin-left: 12%;
} */

.modalFullView {
  margin-top: -6%;
  /* overflow: hidden; */
  max-height: 100%;
  width: 80vw;
  height: 80vh;
  z-index: 9999 !important;
  background: transparent !important;
  /* border: none !important; */
}

.modal-overlay {
  z-index: 1030 !important;
}

.modal-footer {
  background: transparent !important;
}

.nextButton {
  margin-left: 95%;
  margin-top: -50%;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

.prevButton {
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

/* .modal-close {
  margin-top: -90% !important;
  z-index: 1031 !important;
} */

.artPiece {
  margin-bottom: 15%;
  text-align: center;
  color: rgb(99, 95, 84);
  letter-spacing: .1em;
  font-size: 1.1em;
}

.editButton {
  color: rgb(136, 127, 255);
  font-size: 2em !important;
  margin-left: -13%;
}

.editButton:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
}

.deleteButton {
  color: rgb(136, 127, 255);
  font-size: 2em !important;
  margin-left: 30%;
  margin-top: -16%;
}

.deleteButton:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
}

.brushIcon {
  font-size: 1.5em !important;
}