.poster {
  border: 2px solid black;
  max-width: 330px;
  max-height: 240px;
}

.artPiece {
  margin-bottom: 10%;
}

.editButton {
  background-color: rgb(136, 127, 255) !important;
}

.deleteButton {
  background-color: rgb(136, 127, 255) !important;
}