.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 10px;
  margin: 6% 0% 10% 0%;
}

.first {
  margin-top: 15%;
}

.second {
  margin-top: 0%;
}

.third {
  margin-top: 25%;
}

.first .viewArt {
  display: none;
}

.second .viewArt {
  display: none;
}

.second .art {
  display: none;
}

.third .art {
  display: none;
}

.first .viewJewelry {
  display: none;
}

.second .viewJewelry {
  display: none;
}

.second .jewelry {
  display: none;
}

.third .jewelry {
  display: none;
}

.first .viewPhotography {
  display: none;
}

.second .viewPhotography {
  display: none;
}

.second .photography {
  display: none;
}

.third .photography {
  display: none;
}

.filteredTitle {
  margin-top: 20%;
  margin-bottom: -5%;
  text-align: center;
  color: rgb(99, 95, 84);
  letter-spacing: .4em;
  font-family: "Megrim";
  font-weight: bolder;
  animation: colorTitle 7s infinite;
}

@keyframes colorTitle {
  0% {
    color: rgb(99, 95, 84);
  }

  25% {
    color: rgb(138, 222, 248);
  }

  75% {
    color: rgb(196, 107, 193);
  }

  100% {
    color: rgb(99, 95, 84);
  }
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr;
}

.art {
  color: rgb(99, 95, 84);
  font-size: 1.4em;
  letter-spacing: .4em;
  font-family: "Megrim";
  font-weight: bolder;
  margin-left: 25%;
}

.viewArt {
  color: rgb(138, 222, 248);
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bolder;
  animation: viewAll 5s infinite;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.jewelry {
  color: rgb(99, 95, 84);
  font-size: 1.4em;
  letter-spacing: .4em;
  font-family: "Megrim";
  font-weight: bolder;
  margin-left: 25%;
}

.viewJewelry {
  color: rgb(138, 222, 248);
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bolder;
  animation: viewAll 5s infinite;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.photography {
  color: rgb(99, 95, 84);
  font-size: 1.4em;
  letter-spacing: .4em;
  font-family: "Megrim";
  font-weight: bolder;
  margin-left: 25%;
}

.viewPhotography{
  color: rgb(138, 222, 248);
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bolder;
  animation: viewAll 5s infinite;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.arrowIcons {
  display: inline;
}

@keyframes viewAll {
  0% {
    margin-right: 2%;
  }

  50% {
    margin-right: 5%;
    color: rgb(196, 107, 193);
  }

  100% {
    margin-right: 2%;
  }
}

.artA {
  animation: shinyName .1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.artR {
  animation: shinyName .1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.artT {
  animation: shinyName .1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.jewelryJ {
  animation: shinyName .1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.jewelryE {
  animation: shinyName .1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.jewelryW {
  animation: shinyName .1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.jewelryE2 {
  animation: shinyName .1s infinite;
  animation-delay: 1.3s;
  animation-duration: 7s;
}

.jewelryL {
  animation: shinyName .1s infinite;
  animation-delay: 1.4s;
  animation-duration: 7s;
}

.jewelryR {
  animation: shinyName .1s infinite;
  animation-delay: 1.5s;
  animation-duration: 7s;
}

.jewelryY {
  animation: shinyName .1s infinite;
  animation-delay: 1.6s;
  animation-duration: 7s;
}

.photographyP {
  animation: shinyName .1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.photographyH {
  animation: shinyName .1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.photographyO {
  animation: shinyName .1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.photographyT {
  animation: shinyName .1s infinite;
  animation-delay: 1.3s;
  animation-duration: 7s;
}

.photographyO2 {
  animation: shinyName .1s infinite;
  animation-delay: 1.4s;
  animation-duration: 7s;
}

.photographyG {
  animation: shinyName .1s infinite;
  animation-delay: 1.5s;
  animation-duration: 7s;
}

.photographyR {
  animation: shinyName .1s infinite;
  animation-delay: 1.6s;
  animation-duration: 7s;
}

.photographyA {
  animation: shinyName .1s infinite;
  animation-delay: 1.7s;
  animation-duration: 7s;
}

.photographyP2 {
  animation: shinyName .1s infinite;
  animation-delay: 1.8s;
  animation-duration: 7s;
}

.photographyH2 {
  animation: shinyName .1s infinite;
  animation-delay: 1.9s;
  animation-duration: 7s;
}

.photographyY {
  animation: shinyName .1s infinite;
  animation-delay: 2s;
  animation-duration: 7s;
}

/* *****************************************************************
***************************  MEDIA QUERIES  ***********************
******************************************************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrapper {
    display: grid;
    grid-gap: 15px;
    margin-top: 8%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 6%;
    margin-bottom: 10%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* iPhone 8 */
@media only screen and (max-width : 375px) 
    and (-webkit-device-pixel-ratio : 2) {
    }