.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 6% 0% 10% 0%;
}

.first {
  margin-top: 15%;
}

.second {
  margin-top: 0%;
}

.third {
  margin-top: 25%;
}

/* *****************************************************************
***************************  MEDIA QUERIES  ***********************
******************************************************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrapper {
    display: grid;
    grid-gap: 15px;
    margin-top: 8%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 6%;
    margin-bottom: 10%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* iPhone 8 */
@media only screen and (max-width : 375px) 
    and (-webkit-device-pixel-ratio : 2) {
    }