.Contact {
  padding-top: 100px;
}

.contactContainer {
  text-align: center;
  padding: 20px 0;
  margin-top: 400px;
  height: auto;
  width: 100%;
  background: radial-gradient(circle, rgba(119, 25, 155, 1) 51%, rgba(0 , 212, 255, 1) 100%);
  /* background-image: url('https://res.cloudinary.com/chizetteart/image/upload/v1556310776/chizetteArt%20-%20Compressed/contactme.png');
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center; */
}

.bigLetter {
  font-size: 1.8em;
  color: rgb(138, 222, 248);
}

.contact {
  padding-top: 30px;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 1.2em;
  font-weight: bolder;
}

.contactIconContainer {
  display: flex;
  justify-content: space-evenly;
}

  .instagram:hover {
    color: rgb(138, 222, 248);
  }

  .instagramIcon {
    color: #FFFFFF;
    font-size: 3em;
  }
  .instagramIcon:hover {
    color: rgb(138, 222, 248);
    transition: color .5s;
  }

  .email {
    color: #FFFFFF;
  }

  .email:hover {
    color: rgb(138, 222, 248);
  }

  .emailIcon {
    color: #FFFFFF;
    font-size: 3em;
  }
  .emailIcon:hover {
    color: rgb(138, 222, 248);
    transition: color .5s;
  }

.quote {
  color: #FFFFFF;
  font-size: 1em;
}

