.contactContainer {
  text-align: center;
}

.contactPic {
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 20px 20px 40px 10px rgb(138, 222, 248);
}

.contactIconContainer {
  margin-left: 20%;
}

.contact {
  color: rgb(99, 95, 84);
  font-family: 'Montserrat';
}

.quote {
  color: rgba(99, 95, 84, .8);
}

.instagram {
  color: rgba(99, 95, 84, .8);
  margin-top: 5%;
  margin-left: -25%;
}

.instagram:hover {
  color: rgb(138, 222, 248);
}

.instagramIcon {
  font-size: 3em;
}

.email {
  color: rgba(99, 95, 84, .8);
  margin-top: 5%;
  margin-left: -20%;
}

.email:hover {
  color: rgb(138, 222, 248);
}

.emailIcon {
  font-size: 3em;
}

.bigLetter {
  color: rgb(138, 222, 248);
}
