.Contact {
  padding-top: 100px;
}

.contactContainer {
  text-align: center;
  padding: 20px 40px;
  margin-top: 100px;
  height: auto;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(119, 25, 155, 0.6) 30%,
    rgba(0, 212, 255, 0.3) 90%
  );
}

.bigLetter {
  font-size: 1.8em;
  color: rgb(138, 222, 248);
}

.contact {
  padding-top: 30px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 1.2em;
  font-weight: bolder;
}

.contactIconContainer {
  display: flex;
  justify-content: space-evenly;
}

.instagram:hover {
  color: rgb(138, 222, 248);
}

.instagramIcon {
  color: #ffffff;
  font-size: 3em;
}
.instagramIcon:hover {
  color: rgb(138, 222, 248);
  transition: color 0.5s;
}

.email {
  color: #ffffff;
}

.email:hover {
  color: rgb(138, 222, 248);
}

.emailIcon {
  color: #ffffff;
  font-size: 3em;
}
.emailIcon:hover {
  color: rgb(138, 222, 248);
  transition: color 0.5s;
}

.quote {
  color: #ffffff;
  font-size: 1em;
}
