.SplashList {
  z-index: 0;
  height: auto;
  width: 100%;
  position: absolute;
  top: calc(100vh + 155px);
}

.viewArt {
  color: rgb(138, 222, 248);
  font-size: 1.2em;
  font-family: 'Montserrat';
  font-weight: bolder;
  animation: viewFilterColors 5s infinite;
  cursor: pointer;
  position: relative;
  left: 25px;
  top: 100px;
}

.viewJewelry {
  color: rgb(138, 222, 248);
  font-size: 1.2em;
  font-family: 'Montserrat';
  font-weight: bolder;
  animation: viewFilterColors 5s infinite;
  cursor: pointer;
  position: relative;
  top: 1590px;
  left: 25px;
}

.viewPhotography {
  color: rgb(138, 222, 248);
  font-size: 1.2em;
  font-family: 'Montserrat';
  font-weight: bolder;
  animation: viewFilterColors 5s infinite;
  cursor: pointer;
  position: relative;
  top: 2500px;
  left: 25px;
}

@keyframes viewFilterColors {
  0% {
    opacity: 1;
  }

  50% {
    color: rgb(196, 107, 193);
  }

  100% {
    opacity: 1;
  }
}

.artA {
  animation: shinyName 0.1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.artR {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.artT {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.jewelryJ {
  animation: shinyName 0.1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.jewelryE {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.jewelryW {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.jewelryE2 {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.3s;
  animation-duration: 7s;
}

.jewelryL {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.4s;
  animation-duration: 7s;
}

.jewelryR {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.5s;
  animation-duration: 7s;
}

.jewelryY {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.6s;
  animation-duration: 7s;
}

.photographyP {
  animation: shinyName 0.1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.photographyH {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.photographyO {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.photographyT {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.3s;
  animation-duration: 7s;
}

.photographyO2 {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.4s;
  animation-duration: 7s;
}

.photographyS {
  animation: shinyName 0.1s infinite;
  animation-delay: 1.5s;
  animation-duration: 7s;
}
