.chizetteArtFooter {
  font-size: 1em;
  letter-spacing: .25em;
  font-family: "Megrim";
  padding: 10px;
  color: rgb(99, 95, 84);
}

.copyRight {
  font-size: .5em;
  margin-left: 12%;
  margin-top: -2%;
  color: rgb(99, 95, 84);
}