.nav {
  text-align: left;
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}

.logoAndTitle {
  margin-left: 4%;
  margin-bottom: 2%;
}

.logo {
  margin: 1%;
  border-radius: 50%;
}

.chizette {
  font-weight: bolder;
}

.chizetteArt {
  font-size: 2.5em;
  letter-spacing: .25em;
  font-family: "Megrim";
  margin-top: -6%;
  color: rgb(99, 95, 84);
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
  cursor: default;
}

.anchorForHome {
  width: 30%;
}

.menuIcon {
  font-size: 1.5em !important;
}

.menuButton {
  color: rgb(99, 95, 84);
  font-size: 1.5em !important;
  margin-top: -4%;
  margin-left: -5%;
}

.menuButton:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  animation: sideNavColors 4s infinite;
}

.menuButton:focus {
  background-color: transparent;
}

.c {
  animation: shinyName .1s infinite;
  animation-delay: 1s;
  animation-duration: 7s;
}

.h {
  animation: shinyName .1s infinite;
  animation-delay: 1.1s;
  animation-duration: 7s;
}

.i {
  animation: shinyName .1s infinite;
  animation-delay: 1.2s;
  animation-duration: 7s;
}

.z {
  animation: shinyName .1s infinite;
  animation-delay: 1.3s;
  animation-duration: 7s;
}

.e {
  animation: shinyName .1s infinite;
  animation-delay: 1.4s;
  animation-duration: 7s;
}

.t {
  animation: shinyName .1s infinite;
  animation-delay: 1.5s;
  animation-duration: 7s;
}

.t2 {
  animation: shinyName .1s infinite;
  animation-delay: 1.6s;
  animation-duration: 7s;
}

.e2 {
  animation: shinyName .1s infinite;
  animation-delay: 1.7s;
  animation-duration: 7s;
}

.A {
  animation: shinyName .1s infinite;
  animation-delay: 1.8s;
  animation-duration: 7s;
}

.r {
  animation: shinyName .1s infinite;
  animation-delay: 1.9s;
  animation-duration: 7s;
}

.t3 {
  animation: shinyName .1s infinite;
  animation-delay: 2s;
  animation-duration: 7s;
}


@keyframes shinyName {
  0% {
    opacity: .2;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    color: rgb(138, 222, 248);
  }
}

/* *****************************************************************
***************************  MEDIA QUERIES  ***********************
******************************************************************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
      .logo {
        height: 20%;
        width: 20%;
      }

      .nav {
        height: 17%;
      }

      .chizetteArt {
        font-size: 2em;
        margin-left: 17%;
        margin-top: -13%;
      }

      .menuButton {
        margin-top: -6%;
      }
  }

/* iPhone 8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
      .logo {
        height: 20%;
        width: 20%;
      }

      .nav {
        height: 17%;
      }

      .chizetteArt {
        font-size: 2em;
        margin-left: 17%;
        margin-top: -13%;
      }

      .menuButton {
        margin-top: -6%;
      }
    }

@media (min-width: 481px) and (max-width: 767px) {
  .logo {
    height: 22%;
    width: 22%;
  }

  .nav {
    height: 22%;
  }

  .chizetteArt {
    font-size: 2.3em;
    margin-left: 18%;
    margin-top: -13%;
  }

  .menuButton {
    margin-top: -6%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    height: 15%;
    width: 15%;
  }

  .nav {
    height: 25%;
  }

  .chizetteArt {
    font-size: 2.5em;
    margin-left: 13%;
    margin-top: -9%;
  }

  .menuButton {
    margin-top: -4%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .logo {
    height: 11%;
    width: 11%;
  }

  .nav {
    height: 25%;
  }

  .chizetteArt {
    font-size: 2.5em;
    margin-left: 10%;
    margin-top: -7%;
  }

  .menuButton {
    margin-top: -4%;
  }
}

@media (min-width: 1281px) {
  .logo {
    height: 11%;
    width: 11%;
  }

  .nav {
    height: 25%;
  }

  .chizetteArt {
    font-size: 2.5em;
    margin-left: 10%;
    margin-top: -7%;
  }

  .menuButton {
    margin-top: -4%;
  }
}