.nav {
    text-align: left;
}

.logo {
    height: 15%;
    width: 15%;
    margin: 1%;
    border-radius: 50%;
}

.chizetteArt {
    font-size: 4em;
    font-family: "Sacramento";
    margin-top: -8%;
    margin-left: 12%;
    color: rgb(99, 95, 84);
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

.menuIcon {
   font-size: 1.5em !important;
}

.backIcon {
   font-size: 2em !important;
}

.backButton {
  color: rgb(99, 95, 84);
  margin-top: -0%;
  margin-bottom: 10%;
  margin-left: -5%;
}

.backButton:hover {
   color: rgb(138, 222, 248);
   background-color: transparent;
}

.menuButton {
  color: rgb(99, 95, 84);
  font-size: 1.5em !important;
  margin-top: -0%;
  margin-left: -2%;
  margin-bottom: 10%;
}

.menuButton:hover {
   color: rgb(138, 222, 248);
   background-color: transparent;
}