@media only screen and (min-width: 500px) {
  /* SplashList */
  .viewArt {
    top: 1200px;
  }

  .viewJewelry {
    top: 2800px;
  }

  .viewPhotography {
    top: 3800px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {

  /* Navbar */
  .logo {
    max-width: 175px;
  }

  .chizetteArt {
    width: 350px;
    top: -83px;
    left: 116px;
    font-size: 3em;
  }

  /* Drawer */
  .menuIconContainer {
    top: 148px;
  }

  .MuiDrawer-paper {
    width: 250px;
  }

  /* SplashList */
  .viewArt {
    top: 1165px;
  }

  .viewJewelry {
    top: 1570px;
  }

  .viewPhotography {
    top: 1835px;
  }

  /* ArtList */
  .Artlist {
    padding: 210px 15px 0 15px;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Art */
  .poster {
    max-width: 220px;
  }

  .posterSingleView {
    max-width: 600px;
  }

  .artInfoContainer {
    width: 600px;
  }

  .ctrlButtons {
    bottom: -10px;
  }

  /* Contact */
  .contactPic {
    max-width: 60%;
  }

  .bigLetter {
    font-size: 4em;
  }

  .contact {
    font-size: 1.4em;
  }

  .quote {
    font-size: 1.2em;
  }

}

/* Desktops */
@media only screen and (min-width: 950px) {
  /* SplashList */
  .viewArt {
    top: 1180px;
  }

  .viewJewelry {
    top: 1595px;
  }

  .viewPhotography {
    top: 1875px;
  }
}

@media only screen and (min-width: 1060px) {
  /* SplashList */
  .viewArt {
    top: 1185px;
  }

  .viewJewelry {
    top: 1650px;
  }

  .viewPhotography {
    top: 1970px;
  }

  /* Art */
  .poster {
    max-width: 250px;
  }
}

@media only screen and (min-width: 1199px) {
  /* SplashList */
  .viewArt {
    top: 1205px;
  }

  .viewJewelry {
    top: 1685px;
  }

  .viewPhotography {
    top: 2010px;
  }
}

@media only screen and (min-width: 1299px) {
  /* SplashList */
  .viewArt {
    top: 1205px;
  }

  .viewJewelry {
    top: 1730px;
  }

  .viewPhotography {
    top: 2100px;
  }

  /* Art */
  .poster {
    max-width: 270px;
  }
}