@media only screen and (min-width: 450px) {

}

@media only screen and (min-width: 500px) {
  /* SplashList */
  .splashListPadding {
    padding-top: calc(100vh + 100px);
  }
  
  .viewArt {
    top: 0;
  }
  
  .viewJewelry {
    top: 1380px;
  }
  
  .viewPhotography {
    top: 2350px;
  }

}

@media only screen and (min-width: 550px) {

}

/* SplashList & Crystal */
@media only screen and (min-width: 600px) {
  
  .viewArt {
    top: 0;
    left: 100px;
  }
  
  .viewJewelry {
    top: 1420px;
    left: 100px;
  }
  
  .viewPhotography {
    top: 2450px;
    left: 100px;
  }
}

@media only screen and (min-width: 650px) {
  .viewArt {
    top: 0;
    left: 100px;
  }
  
  .viewJewelry {
    top: 1450px;
    left: 100px;
  }
  
  .viewPhotography {
    top: 2520px;
    left: 100px;
  }
}

@media only screen and (min-width: 720px) {
  .viewArt {
    top: 0;
    left: 160px;
  }
  
  .viewJewelry {
    top: 1490px;
    left: 160px;
  }
  
  .viewPhotography {
    top: 2590px;
    left: 160px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  
  .viewArt {
    top: 0;
    left: calc(100% - 160px);
  }
  
  .viewJewelry {
    top: 370px;
    left: calc(100% - 160px);
  }
  
  .viewPhotography {
    top: 610px;
    left: calc(100% - 160px);
  }

  /* Navbar */
  .logo {
    max-width: 175px;
  }

  .chizetteArt {
    width: 350px;
    top: -83px;
    left: 116px;
    font-size: 3em;
  }

  /* Drawer */
  .menuIconContainer {
    top: 148px;
  }

  .MuiDrawer-paper {
    width: 250px;
  }

  /* ArtList */
  .Artlist {
    padding: 210px 15px 0 15px;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Art */
  .poster {
    max-width: 220px;
  }

  .posterSingleView {
    max-width: 475px;
  }

  .artInfoContainer {
    width: 475px;
  }

  .ctrlButtons {
    bottom: -10px;
    justify-content: space-between;
  }

  /* Contact */
  .contactPic {
    max-width: 60%;
  }

  .bigLetter {
    font-size: 4em;
  }

  .contact {
    font-size: 1.4em;
  }

  .quote {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 850px) {
}

@media only screen and (min-width: 920px) {
}

/* Desktops */
@media only screen and (min-width: 992px) {  
  .viewArt {
    top: 0;
  }
  
  .viewJewelry {
    top: 390px;
  }
  
  .viewPhotography {
    top: 660px;
  }

  .ctrlButtons {
    top: 50%;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1060px) {
  /* SplashList */
  .viewJewelry {
    top: 440px;
  }
  
  .viewPhotography {
    top: 730px;
  }

  /* Art */
  .poster {
    max-width: 250px;
  }
}

@media only screen and (min-width: 1149px) {
}

@media only screen and (min-width: 1199px) {
  /* SplashList */
  .viewJewelry {
    top: 450px;
  }
  
  .viewPhotography {
    top: 760px;
  }
}

@media only screen and (min-width: 1249px) {
}

@media only screen and (min-width: 1299px) {
  /* SplashList */
  .viewJewelry {
    top: 490px;
  }
  
  .viewPhotography {
    top: 820px;
  }
  
  /* Art */
  .poster {
    max-width: 270px;
  }
}

@media only screen and (min-width: 1399px) {
}

@media only screen and (min-width: 1500px) {
  
  .viewArt {
    top: 0;
  }
  
  .viewJewelry {
    top: 510px;
  }
  
  .viewPhotography {
    top: 860px;
  }
}

@media only screen and (min-width: 1500px) {
  
}

