.sidebarchizetteArt {
  text-align: center;
  font-family: 'Megrim';
  color: rgb(99, 95, 84);
  font-size: 1.5em;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
  margin-top: -30%;
  letter-spacing: .25em;
}

.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.ringContainer {
  font-size: 2em;
}

.cameraContainer {
  font-size: 2em;
}

.personContainer {
  font-size: 2em;
}

.sideNav {
  height: 55%;
  overflow: hidden;
}

.side-nav {
  margin-top: 11%;
  padding-top: 10%;
  box-shadow: none;
}

.side-nav li>a {
  color: rgb(99, 95, 84);
  letter-spacing: .25em;
}

.side-nav li>a:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  letter-spacing: .25em;
}

.footer {
  font-size: .8em;
  margin-left: 2%;
  letter-spacing: .25em;
  font-family: "Megrim";
  color: rgb(99, 95, 84);
}