.sidebarchizetteArt {
  text-align: center;
  font-family: 'Megrim';
  color: rgb(99, 95, 84);
  font-size: 1.5em;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
  margin-top: -30%;
  letter-spacing: .25em;
}

.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.badge {
  background-color: yellow !important;
  color: black !important;
}

.sideNav {
  overflow: hidden;
}

.side-nav {
  padding-top: 10%;
  box-shadow: none;
}

.side-nav li>a {
  color: rgb(99, 95, 84);
  font-family: 'Montserrat';
  letter-spacing: .25em;
  font-size: 1.1em;
}

.side-nav li>a:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  letter-spacing: .30em;
  transition-duration: .5s;
  animation: sideNavColors 4s infinite;
}

@keyframes sideNavColors {
  20% {
    color: rgb(138, 222, 248);
  }
  30% {
    color: rgb(196, 107, 193);
  }
  50% {
    color: rgb(138, 222, 248);
  }
}

#toTop {
  animation: bounce .7s infinite;
  animation-duration: 2s;
}

.footerSidebar {
  font-size: .8em;
  margin-left: 2%;
  letter-spacing: .25em;
  font-family: "Megrim";
  color: rgb(99, 95, 84);
  position: fixed;
  top: 85%;
}

/* *****************************************************************
***************************  MEDIA QUERIES  ***********************
******************************************************************/
/* iPhone 8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
      .side-nav {
        margin-top: 28%;
      }

      .sideNav {
        height: 80%;
      }
    }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .side-nav {
    margin-top: 18%;
  }

  .sideNav {
    height: 75%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .side-nav {
    margin-top: 16%;
  }

  .sideNav {
    height: 70%;
  }
}

/* Styles for Desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .side-nav {
    margin-top: 15%;
  }

  .sideNav {
    height: 70%;
  }
}



