.chizetteArtFooter {
  font-size: 2em;
  font-family: "Sacramento";
  margin-top: 10%;
  margin-left: 5%;
  color: rgb(99, 95, 84);
}

.copyRight {
  font-size: .6em;
  margin-top: -3%;
  margin-left: 13%;
  color: rgb(99, 95, 84);
}