.chizetteArtFooter {
  font-size: 2em;
  letter-spacing: .25em;
  font-family: "Pompiere";
  margin-top: 10%;
  margin-left: 5%;
  color: rgb(99, 95, 84);
}

.copyRight {
  font-size: .6em;
  margin-top: -3%;
  margin-left: 19%;
  color: rgb(99, 95, 84);
}