.menuIconContainer {
  color: rgb(99, 95, 84);
  position: absolute;
  bottom: -10px;
  padding: 5px 15px;
}
  .menuIconContainer:hover {
    color: rgb(138, 222, 248);
    background-color: transparent;
    animation: drawerColors 4s infinite;
  }
  .menuIconContainer:focus {
    background-color: transparent;
  }

  .MuiSvgIcon-root.menuIcon {
  font-size: 2.5em;
}

.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.badge {
  background-color: yellow !important;
  color: black !important;
}

.closeDrawer {
  transform: translateX(-100%) !important;
}

@keyframes drawerColors {
  20% {
    color: rgb(138, 222, 248);
  }
  30% {
    color: rgb(196, 107, 193);
  }
  50% {
    color: rgb(138, 222, 248);
  }
}

.MuiDrawer-root.MuiDrawer-modal {
  z-index: 0 !important;
}
  .MuiDrawer-paper {
    top: 185px !important;
    height: 320px !important;
  }
  .MuiListItem-gutters {
    color: rgb(99, 95, 84);
    font-family: 'Montserrat';
    letter-spacing: .25em;
  }
  .MuiListItem-gutters:hover {
    color: rgb(138, 222, 248);
    background-color: transparent;
    letter-spacing: .30em;
    transition-duration: .5s;
    animation: drawerColors 4s infinite;
  }

.drawer {
  box-shadow: none;
  z-index: 2030;
  width: 230px;
}

#toTop {
  animation: bounce .7s infinite;
  animation-duration: 2s;
}

.footerDrawer {
  letter-spacing: .25em;
  font-family: "Megrim";
  font-size: 1.2em;
  color: rgb(99, 95, 84);
  position: fixed;
  padding: 0 20px;
}