.menuIconContainer {
  color: rgb(99, 95, 84);
  position: fixed;
  padding: 5px 15px;
  z-index: 1300;
  left: 0;
  top: 140px;
}
  .menuIconContainer:hover {
    background-color: transparent;
    animation: menuIconColors 4s infinite;
    cursor: pointer;
  }
  .menuIconContainer:focus {
    background-color: transparent;
  }
  
@keyframes menuIconColors {
  50% {
    color: rgb(138, 222, 248);
  }
}

  .MuiSvgIcon-root.menuIcon {
  font-size: 2.5em;
}

.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.badge {
  background-color: yellow !important;
  color: black !important;
}

.closeDrawer {
  transform: translateX(-100%) !important;
}

@keyframes drawerColors {
  5% {
    color: rgb(138, 222, 248);
  }
  20% {
    color: rgb(255, 255, 255);
  }
}

.MuiDrawer-root.MuiDrawer-modal {
  z-index: 0 !important;
}
  .MuiList-padding {
    padding-top: 25px !important;
  }
  .MuiDrawer-paper {
    top: 184px !important;
    height: 320px !important;
  }
  .MuiListItem-gutters {
    color: rgb(99, 95, 84);
    font-family: 'Montserrat';
    letter-spacing: .25em;
    overflow: hidden;
  }
  .MuiListItem-gutters:hover {
    color: #FFFFFF;
    background-color: transparent;
    letter-spacing: .30em;
    transition-duration: .5s;
    animation: drawerColors 4s infinite;
    cursor: pointer;
  }
  .MuiListItem-gutters:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 5px 20px;
  }
  .MuiListItem-gutters:after {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    /* background: rgba(138, 222, 248); */
    background: linear-gradient(rgb(196, 107, 193) 5%, rgba(138, 222, 248) 95%);
    position: absolute;
    left: -370px;
    top: -62px;
    transform: rotate(45deg);
    transition: left 1s;
    z-index: -1;
  }
  .MuiListItem-gutters:hover:after {
    left: -25px;
  }

.drawer {
  box-shadow: none;
  z-index: 2030;
  width: 230px;
}

.footerDrawer {
  letter-spacing: .25em;
  font-family: "Megrim";
  font-size: 1.2em;
  color: rgb(99, 95, 84);
  position: fixed;
  padding: 0 20px;
}

