.menuButton {
  color: rgb(99, 95, 84);
  position: absolute;
  bottom: 0;
}

.menuButton:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  animation: drawerColors 4s infinite;
}

.menuButton:focus {
  background-color: transparent;
}

.menuButton .menuIcon {
  font-size: 2em;
}

.sidebarLogo {
  height: 30%;
  width: 30%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 50%;
}

.badge {
  background-color: yellow !important;
  color: black !important;
}

.closeDrawer {
  transform: translateX(-100%) !important;
}

@keyframes drawerColors {
  20% {
    color: rgb(138, 222, 248);
  }
  30% {
    color: rgb(196, 107, 193);
  }
  50% {
    color: rgb(138, 222, 248);
  }
}

.side-nav {
  box-shadow: none;
  z-index: -1;
  margin: 180px 0;
  padding-top: 30px;
  height: 400px;
}

.side-nav li>a {
  color: rgb(99, 95, 84);
  font-family: 'Montserrat';
  letter-spacing: .25em;
}

.side-nav li>a:hover {
  color: rgb(138, 222, 248);
  background-color: transparent;
  letter-spacing: .30em;
  transition-duration: .5s;
  animation: drawerColors 4s infinite;
}

#toTop {
  animation: bounce .7s infinite;
  animation-duration: 2s;
}

.footerDrawer {
  letter-spacing: .25em;
  font-family: "Megrim";
  font-size: 1.2em;
  color: rgb(99, 95, 84);
  position: fixed;
  padding: 0 20px;
}

