label {
  color: rgb(138, 222, 248);
  font-size: 1.5em;
}

.createArtButton {
  color: #FFFFFF;
  font-size: 1.5em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 20px;
}

.createArtButton:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(138, 222, 248);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 5px 20px;
}

.createArtButton:after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: rgba(46, 131, 156, .15);
  position: absolute;
  right: -12px;
  top: -62px;
  transform: rotate(45deg);
  transition: right .5s;
  z-index: -1;
}

.createArtButton:hover:after {
  cursor: pointer;
  right: -95px;
}

.createArtButton:focus {
  background-color: transparent;
}

.createModal {
  margin-top: -5%;
  z-index: 1200 !important;
  max-height: 110%;
  background-image: url("https://res.cloudinary.com/chizetteart/image/upload/c_scale,w_1300/v1552434625/chizetteArt%20-%20Compressed/amethyst.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.createClose {
  cursor: pointer;
  color: rgb(138, 222, 248);
  font-size: 3em;
  position: fixed;
  right: 50px;
  top: 15px;
}

.createClose:hover {
  transform: scale(1.4);
  transition-duration: .5s;
}

.createArt {
  display: initial !important;
  color: rgb(138, 222, 248);
  font-size: 1em;
  background-color: white;
  border: none;
  margin-left: 80%;
}

.createArt:hover {
  display: initial !important;
  color: white;
  font-size: 1em;
  background-color: rgb(138, 222, 248);
  border: none;
  margin-left: 80%;
}

.modal-content h4 {
  text-align: center;
  font-family: "Megrim";
  letter-spacing: .1em;
  font-weight: bolder;
  color: rgb(138, 222, 248);
}
