.MuiInputBase-root {
  color: black !important;
  background-color: #FFFFFF !important;
}

.CreateArtFormContainer {
  background-image: url("https://res.cloudinary.com/chizetteart/image/upload/c_scale,w_1300/v1552434625/chizetteArt%20-%20Compressed/amethyst.jpg");
  background-repeat: no-repeat;
  padding: 20px 50px;
}

.createArt {
  display: initial !important;
  color: rgb(138, 222, 248);
  font-size: 1em;
  background-color: white;
  border: none;
  margin-left: 80%;
}

.createArt:hover {
  display: initial !important;
  color: white;
  font-size: 1em;
  background-color: rgb(138, 222, 248);
  border: none;
  margin-left: 80%;
}

.formTitle {
  text-align: center;
  font-family: "Megrim";
  letter-spacing: .1em;
  font-weight: bolder;
  color: rgb(138, 222, 248);
}
