body {
  overflow-x: hidden;
}

.changingImg {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  animation: scaleInOut 5s infinite;
  z-index: -1;
  overflow-x: hidden;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.firstLetter {
  font-size: 4em;
  color: rgb(138, 222, 248);
}

.parallaxAbout {
  color: rgb(99, 95, 84);
  font-family: "Megrim";
  text-align: center;
  padding: 100px;
  position: absolute;
  top: 850px;
  left: 0;
  right: 0;
}

