.parallaxContainer {
  margin-left: -10%;
  margin-top: 10%;
  overflow: hidden;
}

.parallax {
  animation: fadeinout 4s infinite;
}

.firstLetter {
  font-size: 4em;
  color: rgb(138, 222, 248);
}

@keyframes fadeinout {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  2% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.about {
  color: rgb(99, 95, 84);
  font-family: "Megrim";
}

/* *****************************************************************
***************************  MEDIA QUERIES  ***********************
******************************************************************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
      .about {
        padding-top: 10%;
        font-size: 1em;
        margin-left: 15%;
      }
  }

/* iPhone 8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
      .about {
        padding-top: 15%;
        font-size: 1em;
        margin-left: 15%;
      }
    }

@media (min-width: 481px) and (max-width: 767px) {
  .about {
    padding-top: 20%;
    font-size: 1em;
    margin-left: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    padding-top: 20%;
    font-size: 1.4em;
    margin-left: 15%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .about {
    padding-top: 20%;
    font-size: 1.4em;
    margin-left: 15%;
  }
}

@media (min-width: 1281px) {
  .about {
    padding-top: 20%;
    font-size: 1.6em;
    margin-left: 15%;
  }
}